$border-size: 1px;

:local
.column {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.01);
  height: 100%;
  width: 100%;
  border-left: rgba(0, 0, 0, 0.02) $border-size solid;

  &:first-of-type {
    border-left: none;
  }

  // TODO: responsive grid. This came from bootstrap
  //.col-1 {
    -ms-flex: 0 0 calc(8.333333% - #{ $border-size });
    flex: 0 0 calc(8.333333% - #{ $border-size });
    max-width: calc(8.333333% - #{ $border-size });
  //}
}